// Font
$OpenSans-Font: 'Open Sans';
$BedasNeue-Font: 'Bebas Neue';

// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$solidFontWeight: 600;
$mainLineHeight: 22px;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px; 
$phoneWidth: 480px;
$smPhoneWidth: 320px;


// Main color
$text-color: #48555B;
$text-colorHover: #00A4E5;
$background-colorWhite: #ffffff;
$background-colordarkblue: #141A20;
$background-colorGrey: #f5f6f7;
$Border-colorGrey: #E6E6E6;
$background-colorNews: #171819;
$background-colorEnd: #171819;

// Color Sell
$blue: #165eb9;
$yellow: #ffe637;
$grey: #535253;
$pink: #d3a7ac;
$white: #ffffff;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;